.categories {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 70px auto 0px;
}

.category {
    width: 11%;
    margin: 0 31px 21px;
    box-sizing: border-box;
}

.category h4:hover {
    color: rgb(22, 135, 206);
}


.category img {
    width: 85px;
    border-radius: 50%;
    padding: 28px;
    box-sizing: border-box;
    background-color: #C6C6C6;
    transition: all 0.24s ease-in;
}

.category img:hover {
    border-radius: 25% 25% 25%;

}

.category h4 {
    margin-top: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.24s ease-in;
    line-height: 33px;
    /* 165% */
}

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 767px) {
    .categories {
        display: none;
    }


}