.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.category {
    width: calc(16.666% - 10px);
    margin-bottom: 8px;
    box-sizing: border-box;
}

.category img {
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #C6C6C6;
}

.category h4 {
    margin-top: 10px;
    text-align: center;
}

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 767px) {
    .categories {
        display: none;
    }


}