/* Additions and modifications */

/* Styling for category titles */
.CatTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.CatTitle h3 {
    color: rgb(22, 135, 206);
    font-weight: bold;
    font-size: 1.2em;
}

.CatTitle p {
    color: rgb(22, 135, 206);
}

/* Styling for category cards */
.catFourCards {
 display: flex;
 flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding-top: 40px;
}

/* Common title style */
.title {
    color: #000;
    font-weight: 600;
}

/* Styling for individual category cards */
.catFourCard {
    width: 24%;
}

.catFourCard .content {
    padding-bottom: 2rem;
}

.catFourCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
    .container {
        margin:  1rem;
    }


 .catFourCards {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;

 }


.catFourCard {
    width: 30%;
}

}
@media only screen and (max-width: 768px) {
    .container {
        margin:  1rem;
    }

    .catFourCards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }


        .catFourCard {
            width: 100%;
        }

}