* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: Almarai;
}

.CatTitle h3 {
    color: #0280CD;
    font-family: Almarai;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.cat {
    font-size: 14px;
}

.CatTitle p {
    color: rgb(22, 135, 206);
}

.CatTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}


.catOneCards {
    margin-top: 10px;
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a a b b"
        "c d e f";
    width: 100%;
    height: 100%;
}



.catOneCard:nth-child(1) {
    grid-area: a;

}

.catOneCard:nth-child(2) {

    grid-area: b;
}

.catOneCard:nth-child(1) img {
    height: 400px;
}

.catOneCard:nth-child(2) img {

    height: 400px;
}

.catOneCard:nth-child(3) {
    grid-area: c;
}

.catOneCard:nth-child(4) {
    grid-area: d;
}

.catOneCard:nth-child(5) {
    grid-area: e;
}

.catOneCard:nth-child(6) {
    grid-area: f;
}


.catOneCard img {
    width: 100%;
    aspect-ratio: 14/9;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 1rem auto;
    }

    .catOneCards {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            'e'
            'f';
        gap: 0;
    }


    .catOneCard {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .catOneCard img {
        width: 100%;
        padding: 0;
        height: auto;
        margin-bottom: 5px;
    }

    .catOneCard:nth-child(2) img {
        display: none;
    }

    .catOneCard:nth-child(3) img {
        display: none;
    }

    .catOneCard:nth-child(4) img {
        display: none;
    }

    .catOneCard:nth-child(5) img {
        display: none;
    }

    .catOneCard:nth-child(6) img {
        display: none;
    }

    .catOneCard:nth-child(2) {
        border-bottom: 1px solid #ccc;
        font-size: 18px;
        padding-bottom: 5px;

    }

    .catOneCard:nth-child(3) {
        border-bottom: 1px solid #ccc;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .catOneCard:nth-child(4) {
        border-bottom: 1px solid #ccc;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .catOneCard:nth-child(5) {
        border-bottom: 1px solid #ccc;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .catOneCard:nth-child(6) {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .catOneCard {
        margin-bottom: 10px;
    }

}