@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");



.CatTitle h3 {
    color: rgb(22, 135, 206);
    font-weight: bold;
    font-size: 1.2em;
}

.CatTitle p {
    color: rgb(22, 135, 206);
}

.CatTitle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;

}

.catThreeCards {
    margin-top: 10px;
    /* width: calc(100% - 2em); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "d d a a"
        "d d b b"
        "d d c c";
    max-width: 100%;
    height: 100%;
}


.catThreeCardLeft:nth-child(1) {
    grid-area: a;
}

.catThreeCardLeft:nth-child(2) {
    grid-area: b;
}

.catThreeCardLeft:nth-child(3) {
    grid-area: c;
}

.catThreeCardLeft:nth-child(4) {
    grid-area: d;
    flex-direction: column;
}

.catThreeCardLeft:nth-child(4) img {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
}

.catThreeCardLeft {
    display: flex;
    margin-bottom: 1rem;
}

.catThreeCardLeft img {
    width: 250px;
    height: 100%;
    margin-left: 12px;
    border-radius: 4px;
}


/* Keep existing styles for larger screens */

@media only screen and (max-width: 768px) {
    .container {
        margin: 1rem;
    }


    .catThreeCards {
        grid-template-columns: 1fr;
        grid-template-areas:
            "d"
            "c"
            "b"
            "a";
    }

    .catThreeCardLeft {
        flex-direction: row;
    }

    .catThreeCardLeft img {
        width: 200px;
        height: auto;
    }

    .catThreeCardLeft:nth-child(4) img {
        width: 100%;
        object-fit: cover;
    }


}