/* Additions and modifications */

/* Styling for category titles */
.CatTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}



.CatTitle p {
    color: rgb(22, 135, 206);
}

/* Styling for category cards */
.catTwoCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 22px;
    width: 100%;
    margin-top: 10px;
}

/* Common title style */
.title {
    color: #000;
    font-weight: 600;
}

/* Styling for individual category cards */
.catTwoCard {
    margin-bottom: 1rem;
    height: auto;
}

.catTwoCard .content {
    padding-bottom: 1rem;
}

.catTwoCard img {
    width: 100%;
    aspect-ratio: 19/12;
    padding: 0;
    object-fit: cover;
    border-radius: 4px;
    transition: all 0.23s ease-in-out;
}

.catTwoCard img:hover {
    padding: 5px;
}


@media only screen and (max-width: 768px) {
    .container {
        margin: 1rem auto;
    }

    .catTwoCards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

    }

    .catTwoCard img {
        margin-bottom: 10px;
        padding: 0;
    }

}