/* Create two unequal columns that float next to each other */
.holder {
    position: relative;
    display: flex;
    margin: 1rem 0 2rem;
}

.social {
    position: sticky;
    top: 60%;
    margin-left: 1rem;
    display: flex;
    background-color: white;
    box-shadow: #aaa 0 0 5px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 0 10px;
    border-radius: 3px;
}

.socialI {
    padding: 10px 0;
}

/* tags */
.tagsInfo {
    display: flex;
    padding: 10px 0;
}

.tagsInfo p {
    padding: 5px 8px;
    margin-left: 5px;
    border: 1px solid #000;
    border-radius: 2px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.19s ease-out;
}

.tagsInfo p:hover {
    background-color: black;
    color: white;
}

/* Left column */
.leftColumn {
    float: left;
}

/* Right column */
.rightColumn {
    float: right;
}


.article {
    margin-bottom: 3.8rem;
    border: #F6F6F6 solid 1px;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.article h3 {
    background-color: #F6F6F6;
    padding: 0 10px;
    margin: 0;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 214.6%;
    transition: all 0.20s ease;
    /* 47.212px */

}


.title:hover {
    color: rgb(22, 135, 206);
}

.bor:hover {
    color: rgb(22, 135, 206);
}

.source {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: #F6F6F6 1px solid;
}

.source ul,
.source a,
.source ol,
.source p,
.source h1,
.source h2,
.source h3,
.source h4,
.source h5,
.source h6 {
    display: inline;
    color: #0280CD;
}

.source .toggle {
    background-color: #F6F6F6;
    padding: 0 10px;
}

.article ol {
    padding: 5px 30px;
}

.article ol li a {
    display: inline;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 214.6%;
    color: #0280CD;
    /* 38.628px */
}

.article ol li {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 214.6%;
    color: #0280CD;
    /* 38.628px */
}


.blog {
    width: 95%;
}

.blog p {
    color: #000;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 214.6%;
    /* 34.336px */
}

.blog p img {
    width: 90%;
    height: 400px;
    margin: 10px 0 0 0;
    padding: 0;
    object-fit: contain;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: #0280CD 3px solid;
    width: fit-content;
}

.blog ul {
    list-style: disc;
    margin: 10px 0;
}

.blog ul li {
    margin: 10px;
}

.toggle {

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.toggle h3 {
    color: #000;
    font-family: Almarai;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 214.6%;
    /* 47.212px */
}

.addIcon {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    height: 260px;
    align-content: center;
}

.fakeimg p {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Add a card effect for articles */
.dCard {
    padding: 0px 0 15px;
}

.dCard img {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
    margin: 0;
}

.title-details {
    color: #000;
    font-family: Almarai;
    font-size: 30px;
    flex-wrap: wrap;
    width: 75%;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
    /* 130.769% */
}

.title-main {
    color: #000;
    font-family: Almarai;
    font-size: 24px;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
    /* 130.769% */
}

.imgCard {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    background-color: #F6F6F6;
}

.imgText {
    padding: 5px;
    color: #000;
    text-align: center;
    font-family: Almarai;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.hov {
    transition: all 0.20s ease;
}

.hov:hover {
    color: #0280CD;
}

.mostPopular .title a {
    display: inline;
    transition: all 0.20s ease;
}

.mostPopular .title a:hover {
    color: #0280CD;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.mostPopular {
    display: flex;
    flex-direction: column;
    padding: 0px 0 9px;
}

.mostPopular .cat-details {
    color: #828282;
    font-family: Almarai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mostPopular .cat-details:hover {
    color: #0280CD;
}

small {
    color: #828282;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.mostPopular .bor {
    color: #000;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    padding: 0px 0 10px;
    margin: 0;
    border-bottom: 1px solid #aaaaaa;

}



.cal-profile {
    display: flex;
    padding: 5px 0 0;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.profile p {
    padding: 0 5px;
    color: #828282;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.cal {
    display: flex;
}

.cal p {
    padding: 0 5px;
    color: #828282;
    text-align: center;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.authorInfo {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.authorDesc {
    color: #292D32;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 34.336px */
    word-wrap: 'break-word';
}

.authorInfo p {
    padding: 0 10px;
    color: #292D32;
    font-family: Almarai;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.24s ease-in-out;
    line-height: 214.6%;
    /* 64.38px */
}

.authorInfo p:hover {
    color: #0280CD;
    /* 64.38px */
}

.profileInfo {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.profileInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileSocial {
    display: flex;
    padding: 10px 0;
}

.profileSocial .socialI {
    padding: 10px 11.4px;
    margin: 0 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

.sourceInfo {
    padding: 10px;

}

.suggestion-comment-title {
    color: #000;
    text-align: right;
    font-family: Almarai;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 187.5% */
}

.suggestion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.suggestion-flex {
    display: flex;
    flex-wrap: wrap;
}


.suggestion-flex .mostPopular {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 1rem;
    width: 23.8%;
}

.suggestion-flex .mostPopular img {
    aspect-ratio: 14/9;
    border-radius: 4px;
    transition: all 0.23s ease-in-out;
}

.suggestion-flex .mostPopular img:hover {
    padding: 5px;
}

.suggestion-flex .mostPopular:nth-child(4) {
    margin-left: 0;

}

.after {

    box-shadow: #aaa 0 0 5px;
    background-color: white;
    color: #000;
    position: absolute;
    top: 1px;
    left: 10px;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .rightColumn {
        width: 100%;
    }

    .leftColumn {
        display: none;
    }

    .suggestion-flex .mostPopular {

        width: 30.93%;
    }

    .suggestion-flex .mostPopular:nth-child(3) {
        margin-left: 0;
    }

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    /* .social {
        display: none;
    } */
    .profileSocial .socialI {
        padding: 5px;

    }

    .row {
        display: block;
    }

    .rightColumn {
        max-width: 100%;
    }

    .leftColumn {
        display: none;
    }

    .suggestion-flex .mostPopular {
        width: 100%;
    }

    .suggestion-flex .mostPopular {
        margin-left: 0;
    }

    .comment-info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        border-radius: 3px;
    }

    .authorInfo {
        margin: 1rem 0;
        display: block;
    }
}