/* footer.css */

.footer {
    background-color: #0280CD;
    color: #fff;
    padding: 20px 0;
}


.sectionOne,
.sectionTwo,
.sectionThree {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.sectionTwo ul {
    display: flex;
    justify-content: space-between;

}


.first {
    font-weight: 600;
}

.sectionTwo ul li {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sectionOne h2 {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.sectionOne div {
    margin-bottom: 20px;
}

.sectionOne ul {
    list-style-type: none;
    padding: 0;
}

.sectionOne ul li {
    margin-bottom: 5px;
}

.sectionThree {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 20px 0;
    }

    .sectionTwo ul li {
        padding: 0;
        margin: 10px 0;

    }

    .sectionOne {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footerSmall {
        font-size: 13px;
    }
}