/* footer.css */

.footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
}



.sectionThree {
    display: flex;
    justify-content: space-between;
}

.sectionOne {
    display: flex;
    justify-content: space-between;

}


.sectionOne img {
    width: 200px;
    height: 150px;

}

.sectionOne ul li a {
    display: inline;
    color: white;
    transition: all 0.24s ease-in-out;
}

.sectionOne ul li a:hover {
    color: rgb(22, 135, 206);
}

.sectionTwo ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.first {
    font-weight: 600;
}

.sectionTwo ul li {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.sectionTwo ul li:hover {
    color: black;
}

.sectionTwo ul li a {
    display: inline;
    color: white;
    transition: all 0.24s ease-in-out;
}


.sectionTwo ul li a:hover {
    color: black;
}

.sectionOne h2 {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.sectionOne div {
    margin-bottom: 20px;
    font-size: 16px;
}

.sectionOne ul {
    list-style-type: none;
    padding: 0;
}

.sectionOne ul li {
    margin: 20px 0;
}

.sectionThree {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerSmall {
    color: white;
    transition: all 0.24s ease-in-out;
}

.footerSmall:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 20px 0;
    }

    .sectionTwo ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sectionOne .footer-logo {
        margin: 0 auto;
    }

    .sectionTwo ul li {
        padding: 0;
        margin: 10px 0;
        font-size: 14px;

    }


    .sectionOne {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 16px;
    }

    .sectionOne div {
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footerSmall {
        font-size: 13px;
    }
}