* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 10px;
    margin: 0 1.8rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    /* Add this if necessary */
    z-index: 1000;
    /* Adjust z-index as necessary */
}
.logo img{
    width: 100px;
    height: auto;
    object-fit: contain;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    padding: 0 15px;
}

.show-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    /* Initially off-screen */
    background-color: #fff;
    height: 100vh;
    width: 80%;
    /* Adjust the width as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Set a high z-index value */
    transition: left 0.3s ease;
    /* Add smooth transition effect */
}

.menu-icon {
    display: none;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 1100;
    /* Set a higher z-index value than the menu */
}

@media (max-width: 768px) {
    .header {
        width: auto;
        padding: 20px ;
        margin: 0;
    }

    .menu-icon {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav.show-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        height: auto;
        width: 80%;
        /* Adjust the width as needed */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        /* Set a high z-index value */
        transition: left 0.3s ease;
        /* Add smooth transition effect */
    }

    .nav.show-menu li {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
        .nav.show-menu li:hover {
            padding-left: 20px ;
        }

    .nav.show-menu .menu-icon {
        left: 80%;
        /* Adjust the position based on the width of the menu */
    }
}